################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ef/Ef.Database/obj
/Ef/.vs/Ef
